<!DOCTYPE html>
<html lang="en">
    <%- include("header") -%>
<body>

    <div class="main">

        <h1 id="resultsHeader">Covid-19</h1>
        <div class="container">
            <div class="sign-up-content" id="resultsContent">
                
                <h2 class="form-title" id="countryHeading">Data comparison</h2>              

                <div class="content">
                    <div id="left">
                        <h3><%= country1 %> <img src="<%= flag1 %>" style="width: 25px;"></h3>
                    
                        <% if ( population1 === "undefined") { %>
                            Population: <span class="small"> <%= population1b %> </span> <br>
                        <% } else { %> 
                            Population: <span class="small"> <%= population1 %> </span> <br> 
                        <% } %>
                        Total cases: <span class="small"> <%= total1 %> </span> <br>
                        <% if ( today1 === "0") { %>
                            Cases today: <span class="small"> Not updated </span>  <br>
                        <% } else { %> 
                            Cases today: <span class="small"> <%= today1 %> </span>  <br>
                        <% } %>
                        Active: <span class="small"> <%= active1 %> </span> <br>
                        Critical: <span class="small"> <%= critical1 %> </span> <br>
                        <span id="health">Recovered:</span> <span class="small"> <%= recovered1 %> </span> <br>
                        <span id="death">Deaths:</span> <span class="small"> <%= deaths1 %> </span>
                    </div>
                    
                    <div id="right">
                        <h3><%= country2 %> <img src="<%= flag2 %>" style="width: 25px;"></h3>
                    
                        <% if ( population2 === "undefined") { %>
                            Population: <span class="small"> <%= population2b %> </span> <br>
                        <% } else { %> 
                            Population: <span class="small"> <%= population2 %> </span> <br> 
                        <% } %>
                        Total cases: <span class="small"> <%= total2 %> </span> <br>
                        <% if ( today2 === "0") { %>
                            Cases today: <span class="small"> Not updated </span>  <br>
                        <% } else { %> 
                            Cases today: <span class="small"> <%= today2 %> </span>  <br>
                        <% } %>
                        Active: <span class="small"> <%= active2 %> </span> <br>
                        Critical: <span class="small"> <%= critical2 %> </span> <br>
                        <span id="health">Recovered:</span> <span class="small"> <%= recovered2 %> </span> <br>
                        <span id="death">Deaths:</span> <span class="small"> <%= deaths2 %> </span>
                    </div>
                </div>

                <div class="content" id="extStats">
                    <h3 id="large">Εxtensive statistical data</h3>

                    <% if (percentDeadlier === "Infinity") { %>
                        ⚰️ Covid-19 is deadlier in <%= deadlier %>.<br>
                    <% } else { %>
                        ⚰️ Covid-19 is <b><%= timesDeadlier %></b> times deadlier in <%= deadlier %> regarding it's population, or <b><%= percentDeadlier %>%</b> more.<br>
                    <% } %>

                    📈 <%= larger %> is <b><%= percentLarger %>%</b> larger in population than <%= smaller %>, or <b><%= timesBigger %></b> times bigger.

                </div>

                <div id="goBack">
                    <a href="/"><button>Go back</button></a>
                </div>
               
                <p class="loginhere">
                    <center>
                        <p>Data sourced from Worldometers</p>
                        <a href="https://github.com/adreaskar/covid19-world-api" class="loginhere-link">Github</a>
                    </center>
                </p>
            </div>
        </div>

        <center><div class="cred credComp">
            Developed and maintained by <br id="break"> Andreas Karabetian
        </center></div> 

    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>