<!DOCTYPE html>
<html lang="el">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= header %> </title>
        <link rel="shortcut icon" href="/images/favicon.png" />
    
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
<body>

    <div class="main">

        <h1 id="resultsHeader">Covid-19</h1>
        <div class="container">
            <div class="sign-up-content" id="resultsContent">
                
                <h2 class="form-title" id="countryHeading">Σύγκριση δεδομένων</h2>              

                <div class="content">
                    <div id="left">
                        <h3><%= country1 %> <img src="<%= flag1 %>" style="width: 25px;"></h3>
                    
                        <% if ( population1 === "undefined") { %>
                            Πληθυσμός: <span class="small"> <%= population1b %> </span> <br>
                        <% } else { %> 
                            Πληθυσμός: <span class="small"> <%= population1 %> </span> <br> 
                        <% } %>
                        Κρούσματα: <span class="small"> <%= total1 %> </span> <br>
                        <% if ( today1 === "0") { %>
                            Σημερινά: <span class="small"> Δέν έχουν ενημερωθεί </span>  <br>
                        <% } else { %> 
                            Σημερινά: <span class="small"> <%= today1 %> </span>  <br>
                        <% } %>
                        Ενεργοί: <span class="small"> <%= active1 %> </span> <br>
                        Critical: <span class="small"> <%= critical1 %> </span> <br>
                        <span id="health">Ανάρρωσαν:</span> <span class="small"> <%= recovered1 %> </span> <br>
                        <span id="death">Θάνατοι:</span> <span class="small"> <%= deaths1 %> </span>
                    </div>
                    
                    <div id="right">
                        <h3><%= country2 %> <img src="<%= flag2 %>" style="width: 25px;"></h3>
                    
                        <% if ( population2 === "undefined") { %>
                            Πληθυσμός: <span class="small"> <%= population2b %> </span> <br>
                        <% } else { %> 
                            Πληθυσμός: <span class="small"> <%= population2 %> </span> <br> 
                        <% } %>
                        Κρούσματα: <span class="small"> <%= total2 %> </span> <br>
                        <% if ( today2 === "0") { %>
                            Σημερινά: <span class="small"> Δέν έχουν ενημερωθεί </span>  <br>
                        <% } else { %> 
                            Σημερινά: <span class="small"> <%= today2 %> </span>  <br>
                        <% } %>
                        Ενεργοί: <span class="small"> <%= active2 %> </span> <br>
                        Critical: <span class="small"> <%= critical2 %> </span> <br>
                        <span id="health">Ανάρρωσαν:</span> <span class="small"> <%= recovered2 %> </span> <br>
                        <span id="death">Θάνατοι:</span> <span class="small"> <%= deaths2 %> </span>
                    </div>
                </div>

                <div class="content" id="extStats">
                    <h3 id="large">Αναλυτικά στατιστικά δεδομένα</h3>

                    <% if (percentDeadlier === "Infinity") { %>
                        ⚰️ Ο Covid-19 είναι θανατηφόρος στην/στο <%= deadlier %>.<br>
                    <% } else { %>
                        ⚰️ O Covid-19 είναι <b><%= timesDeadlier %></b> φορές πιο θανατηφόρος στην <%= deadlier %> σχετικά με τον πληθυσμό της, ή <b><%= percentDeadlier %>%</b> παραπάνω.<br>
                    <% } %>

                    📈 Η <%= larger %> είναι <b><%= percentLarger %>%</b> μεγαλύτερη σε πληθυσμό από την <%= smaller %>, ή <b><%= timesBigger %></b> φορές μεγαλύτερη.

                </div>

                <div id="goBack">
                    <a href="/el"><button>Επιστροφή</button></a>
                </div>
               
                <p class="loginhere">
                    <center>
                        <p>Τα δεδομένα προέρχονται από τo Worldometers</p>
                        <a href="https://github.com/adreaskar/covid19-world-api" class="loginhere-link">Github</a>
                    </center>
                </p>
            </div>
        </div>

        <center><div class="cred credComp" id="credCompRes">
            Ανάπτυξη και συντήρηση: <br id="break"> <a href="mailto:adreas@karabetian.gr">Ανδρέας Καραμπετιάν</a>
        </center></div> 

    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>