<!DOCTYPE html>
<html lang="en">
    <%- include("header") -%>
<body>

    <div class="main">

        <h1 id="resultsHeader">Covid-19</h1>
        <div class="container">
            <div class="sign-up-content" id="resultsContent">
                
                <h2 class="form-title" id="countryHeading">Data for <%= country %> <img src="<%= flag %>" style="width: 35px;"></h2>              

                <div class="content">
                    <div id="left">
                        <h3>Covid-19 Stats</h3>
                        Total cases: <span class="small"> <%= total %> </span> <br>
                        <% if ( today === "0") { %>
                            Cases today: <span class="small"> Not updated </span>  <br>
                        <% } else { %> 
                            Cases today: <span class="small"> <%= today %> </span>  <br>
                        <% } %>
                        Active: <span class="small"> <%= active %> </span> <br>
                        Critical: <span class="small"> <%= critical %> </span> <br>
                        <span id="health">Recovered:</span> <span class="small"> <%= recovered %> </span> <br>
                        <span id="death">Deaths:</span> <span class="small"> <%= deaths %> </span>
                    </div>

                    <div id="right">
                        <h3>Country Stats</h3>
                        <% if ( population === "undefined") { %>
                            Population: <span class="small"> <%= population2 %> </span> <br>
                        <% } else { %> 
                            Population: <span class="small"> <%= population %> </span> <br> 
                        <% } %>
                        Region:  <span class="small"> <%= region %> </span> <br>
                        Subregion:  <span class="small"> <%= subregion %> </span> <br>
                        Capital:  <span class="small"> <%= capital %> </span> <br>
                        Main currency:  <span class="small"> <%= currency %> </span>
                    </div>

                </div>

                <div class="content" id="extStats">
                    <h3 id="large">Εxtensive statistical data</h3>

                    <% if (yestRaise) { %>
                        📈 Cases compared to yesterday:  <img src="images/raise.png" style="width: 15px;"> <b><%= yestPercent %>%</b>
                    <% } else { %>
                        📉 Cases compared to yesterday: <img src="images/fall.png" style="width: 15px;"> <b><%= yestPercent %>%</b>
                    <% } %>
                    

                </div>

                <div id="goBack">
                    <a href="/"><button>Go back</button></a>
                </div>
               
                <p class="loginhere">
                    <center>
                        <p>Data sourced from Worldometers</p>
                        <a href="https://github.com/adreaskar/covid19-world-api" class="loginhere-link">Github</a>
                    </center>
                </p>
            </div>
        </div>

        <center><div class="cred credRes">
            Developed and maintained by <br id="break"> Andreas Karabetian
        </center></div> 

    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>